
body {
    background-color: beige;
    font-size: 14pt;
    
}

#main {
    background-color: burlywood;
}

#addTodo {
    background-color: burlywood;
}

button {
    display: block;
}

.todo{
    background-color: antiquewhite;
}

.completed{
    background-color: brown ;
}

div{
    margin: 5px;
    padding: 5px;
}